{% extends "base.html" %}

{% block content %}

<div class = "card">
    <div class="card-body">
        <h2>Add Credit</h2>
        <br>
        <form  method = "POST" action ="{% url 'credit_entry' %}">
            {% csrf_token %}
            <div class="row">
                <div class="col-lg-6">
                    <label>Date:</label>
                    {{ form.date }}
                </div>
            </div>
            <br>
            <div class="row">              
                <div class="col-lg-6">
                    <label>Client:</label>
                {{ form.account_name }}
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-6">
                    <label>Amount</label>
                    {{ form.amount }}
                </div>
            </div>
            <br>
        
        <button class="btn btn-warning btn-lg waves-effect waves-light" type="submit">Submit</button>
        </form>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <!-- Load message -->
            {% include 'alerts2.html' %}
        </div>
    </div>
</div>
{% include "notification.html" %}

{% endblock content %}
            
            
