{% block content %}

<style>
  /* CSS for flex layout */
  .notification-item {
    display: flex;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px; /* Adjust margin between items */
  }
  
</style>

<div class="card">
  <div class="card-body">
    <h2>Credit Report</h2>
    <form method="get" action="" class="form-inline" formnovalidate>
      <div class="form-group mx-2">
          {{ credit_filter.form.account_name }}
      </div>
      <div class="form-group mx-2">
          <label for="{{ credit_filter.form.date.id_for_label }}"></label>
          <input type="date" name="action_date_from" class="form-control" placeholder="From" value="{{ request.GET.action_date_from }}">
<input type="date" name="action_date_to" class="form-control" placeholder="To" value="{{ request.GET.action_date_to }}">
 </div>
      <button type="submit" class="btn btn-primary" id="filter">Filter</button>
      <a class="text-danger mx-2" href="?{% for key in request.GET %}{% if key != 'page' %}&{{ key }}={% endif %}{% endfor %}">
          <b>Clear</b>
      </a>
  </form>
  
    <hr />
    {% if entries %} {% for entry in entries %}
    <div class="notification-item">
      <div>
        <strong><i class="fas fa-bell"></i></strong>
        {{ entry.account_name }} - {{ entry.amount }}
      </div>
      <div>{{ entry.date }}</div>
      <form action="{% url 'credit_entry' entry.id %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Settle</button>
      </form>
    </div>
    {% endfor %} {% else %}
    <p>No unsettled credit entries</p>
    {% endif %}
  </div>
</div>
{% endblock content %}
