{% block content %}

<style>
  /* CSS for flex layout */
  .notification-item {
    display: flex;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px; /* Adjust margin between items */
  }
  .form {
    display: flex;
    gap: 2rem;
    align-items: center; /* Align items vertically */
  }
  .form label {
    flex: 0 0 auto; /* Make labels shrinkable */
  }
  .form input[type="date"] {
    width: 20rem; /* Expand input to fill available space */
  }
  #filter {
    height: 30px;
  }
</style>

<div class="card">
  <div class="card-body">
    <h2>Credit Report</h2>
    <form method="get" class="form">
      <div class="form-group">
        <label>Client:</label>
        {{ filter.account_name }}
      </div>
      <div class="form-group">
        <label for="fromDate">From:</label>
        <input
          type="date"
          id="fromDate"
          name="from"
          class="form-control"
          value="{{ request.GET.from }}"
        />
      </div>
      <div class="form-group">
        <label for="toDate">To:</label>
        <input
          type="date"
          id="toDate"
          name="to"
          class="form-control"
          value="{{ request.GET.to }}"
        />
      </div>
      <button type="submit" class="btn btn-primary" id="filter">Filter</button>
    </form>
    <hr />
    {% if entries %} {% for entry in entries %}
    <div class="notification-item">
      <div>
        <strong><i class="fas fa-bell"></i></strong>
        {{ entry.account_name }} - {{ entry.amount }}
      </div>
      <div>{{ entry.date }}</div>
      <form action="{% url 'credit_entry' entry.id %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Settle</button>
      </form>
    </div>
    {% endfor %} {% else %}
    <p>No unsettled credit entries</p>
    {% endif %}
  </div>
</div>
{% endblock content %}
